<p id="notice"><%= notice %></p>

<h1>Ordenes</h1>

<table>
  <thead>
    <tr>
      <th>Numero</th>
      <th>Fecha</th>
      <th>Cliente</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ordens.each do |orden| %>
      <tr>
        <td><%= orden.numero %></td>
        <td><%= orden.fecha %></td>
        <td><%= orden.cliente.nombre %></td>
        <td><%= link_to 'Ver', orden %></td>
        <td><%= link_to 'Modificar', edit_orden_path(orden) %></td>
        <td><%= link_to 'Eliminar', orden, method: :delete, data: { confirm: '¿seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Registar orden...', new_orden_path %>
<br>
<%= link_to 'Inicio', controller: 'entrada' %>
