<%= form_with(model: detalleorden, local: true) do |form| %>
  <% if detalleorden.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(detalleorden.errors.count, "error") %> prohibited this detalleorden from being saved:</h2>

      <ul>
      <% detalleorden.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :cantidad %>
    <%= form.text_area :cantidad %>
  </div>

  <div class="field">
    <%= form.label :precioventa %>
    <%= form.text_area :precioventa %>
  </div>

  <div class="field">
    <%= form.label :orden_id %>
    <%= form.text_field :orden_id %>
  </div>

  <div class="field">
    <%= form.label :producto_id %>
    <%= form.text_field :producto_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
