<p id="notice"><%= notice %></p>

<h1>Detalle de orden</h1>

<table>
  <thead>
    <tr>
      <th>Cantidad</th>
      <th>Precioventa</th>
      <th>Orden</th>
      <th>Producto</th>
      <th>Cliente</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @detalleordens.each do |detalleorden| %>
      <tr>
        <td><%= detalleorden.cantidad %></td>
        <td><%= detalleorden.precioventa %></td>
        <td><%= detalleorden.orden.numero %></td>
        <td><%= detalleorden.producto.nombre %></td>
        <td><%= detalleorden.orden.cliente.nombre %></td>
        <td><%= link_to 'Ver', detalleorden %></td>
        <td><%= link_to 'Modificar', edit_detalleorden_path(detalleorden) %></td>
        <td><%= link_to 'Eliminar', detalleorden, method: :delete, data: { confirm: '¿seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Registrar detalle de orden...', new_detalleorden_path %>
